.product-container{
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.product-card-container {
width: 100%;
display: grid;
grid-template-columns:repeat(4 ,1fr);
column-gap: 20px;
row-gap: 1rem;
}
.product-title{
    padding-top: 40px;
    padding-bottom:30px;
    text-align: center;
}
.product-card-button {
    text-align: center;

    padding-top: 50px;
    padding-bottom: 50px;
}
.product-card-button button{
    background: #F86338;
    border: none;
    border-radius: 5%;
    color: white;
    width: 8rem;
    height: 2rem;
}
.Functionality{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 .SearchBar{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
.SearchBar input{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    width:50%;
    height: 10%;
}
.CategorySort{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}
.CategorySort button{
    width: 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
}
.PriceSort{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;

}
.PriceSort h3{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;

}
.PriceSort select{
    width: 25%;
    padding-top: 15px;
    padding-bottom: 20px;

}