.Project-Card{
    width: 500x;
    height: 500px;
    padding: 10px 10px;
    justify-content: space-around;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}


.card-btn{
    background: #F86338;
    border-radius: 100%;
    border:none;
    color: white;
    align-content: center;
}

.card-image{
    width: 100px;
    height: 200px;
    padding: 10px;

}